<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SLAB landing page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div id="head">
    <img src="{{url_for('static', filename='img/slab web.png')}}" alt="SLAB logo"/>
  </div>
  <div id="body">
    <div class="content">
      <div class="section">
        <div class="button" id="fake-button">
          <p>Something went wrong :/</p>
          </br>
          <p>Error: {{exc}}</p>
        </div>
      </div>
    </div>
  </div>
  <p id="github">© 2019 GitHub, Inc.</p>
  <i id="thx">Thanks for using SLAB!</i>
</div>
</body>
</html>

