<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SLAB landing page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
<div id="head">
  <img src="{{url_for('static', filename='img/slab web.png')}}"/>
</div>
<div id="body">
  <div id="content">
    <div class="section">
      <div class="button" id="fake-button">
        <p>Paste the token into your</p>
        <p>Discord conversation with SLAB</p>
      </div>
    </div>
    <div class="section">
      <div class="divider">
        <strong>your token</strong>
      </div>
    </div>
<script>
  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[#&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }
  var token = getUrlVars()["access_token"];
  var output = "<div class='section'><input type\"text\" value=\"{}\" id=\"tokenBox\"></div>";
  document.write(output.replace(/{}/, token));
  document.write("<div class='section'><button class='button' onclick=\"copyToken()\">Copy token</button></div>");
  function copyToken() {
    var copyToken = document.getElementById("tokenBox");
    copyToken.select();
    document.execCommand("copy");
    alert("Copied the token. You can now paste it into Discord.");
  }
</script>
<br/>
</div>
  <p id="github">© 2019 GitHub, Inc.</p>
  <i id="thx">Thanks for using SLAB!</i>
</div>
</body>
</html>

